{% extends "base.html" %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django app</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In debitis repudiandae quisquam qui voluptas recusandae nostrum quaerat dolores, eos repellendus veniam ab enim expedita explicabo velit architecto hic. Veritatis totam consequuntur odit itaque porro sed quos qui sint necessitatibus, maiores ab non quaerat aut consectetur esse. Nobis, autem, quo omnis quas laborum natus accusamus aperiam distinctio velit eaque sint molestias esse deserunt, accusantium iusto quae numquam unde. Quia, sit cumque! Similique veritatis maxime eaque enim sit. Quia vero dolores eveniet ab suscipit eligendi culpa aspernatur voluptate, vel neque! Fuga neque inventore laudantium aliquid, laborum atque obcaecati iste provident reprehenderit nostrum.</p> 
        
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">Signin</a> 
            <a class="btn btn-dark" href="/signup">Signup</a> 
        </div>
</main>

{% endblock %}