{% extends "base.html" %}

{% block content %}

<h1>Tasks</h1>

<ul>
    {% for Task in tasks %}
        <a href="{% url 'task_detail' Task.id %}">
            {% if task.important %}
                <strong>{{ Task.title }}</strong>
            {% else %}
                {{ Task.title }}
            {% endif %}
            <p>{{ Task.description }}</p>
            <p>{{ Task.user.username }}</p>
            <p>{{ Task.datecompleted|date:'M j Y:i' }}</p>
            <p>{{ Task.important }}</p>
        </a>

    {% endfor %}
</ul>

{% endblock %}